body
{
  background-image: url(Photos/mgwallpaperfinalblurredHD.jpg);
  overflow-x: hidden;
}
.nav-mask
{
    position: relative;
    background-color: #ffffff00;
}
ul{
    margin:0;
    padding:0;
    display:flex;
  }
  
  ul li{
    list-style:none;
    margin:0 20px;
    transition:0.5s;
  }
  
  ul li a{
    display: block;
    position:relative;
    text-decoration:none;
    padding:5px;
    font-size:18px;
    font-family: sans-serif;
    color:#ffffff;
    text-transform:uppercase;
    transition:0.5s;
  }
  
  ul:hover li a{
    transform:scale(1.2);
    opacity:0.2;
    filter:blur(1.5px);
  }
  
  ul li a:hover{
    transform:scale(1.2);
    opacity:1;
    filter:blur(0);
    text-decoration:none;
    color:#ffffff;
  }
  
  ul li a:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#ffffff00;
    transition:0.5s;
    transform-origin:right;
    transform:scaleX(0);
    z-index:-1;
  }
  
  ul li a:hover:before{
    transition:transform 0.5s;
    transform-origin:left;
    transform:scaleX(1);
  }
  
  .contactusback
  {
    position: relative;
    background-color: #FF9B50;
    /* z-index: -1; */
    color: #FFFFFF;
  }
  .text-white
  {
    color: #FFFFFF;
  }
  .texteditss
  {
    left: 35px;
  }
  .head1
  {
    font-size: 4.5rem;
  }
  .head2
  {
    font-size: 1.5rem;
  }
  .sizeditss
  {
    height: 628px;
  }
  .head3
  {  
    font-size: 3.3rem;
  }
  .para1
  {
    margin-top: 90px;
  }
  